Ejercicio 1:

    Reciben una lista del número de animales en un refugio, tienen que devolver el número más alto de la lista y el promedio del número de animales en una lista nueva.
    Ejemplo:
        si yo les paso (15, 10, 5, 25, 20), debe retornar (25, 15)

In [7]:
def animales(m):
    masgrande=0
    for i in m:
        if i > masgrande:
            masgrande = i
    
    return masgrande
    
    
m=[1,3,5,7,3,45]
animales(m)

45

In [8]:
prom = sum(m)/len(m)
prom

10.666666666666666

Ejercicio 2:
Reciben una lista de características y deben retornar una lista donde el primer elemento es un string con todos los caracteres concadenados, y el segundo elemento es el mismo string pero dado vuelta.

Ejemplo:
si les paso ('s', 't','w','q','o'), debe retornar ('stwqo','oqwts')

In [36]:
def cosa(n):
    c=""
    for a in n:
        c = c + a
    d=""
    for a in n:
        d = a + d
        
    return(c,d)
    
    

n=["m","o","n","o"]
cosa(n)

('mono', 'onom')

Ejercicio 3: Dado un número N la función retornará todos los números impares entre 0 y N en una lista.
Ejemplo: N=7 => [1,3,5,7]

In [2]:
def funcion(p):
    lista=[]
    for y in range(p):
        if(y%2 == 1): # si es impar
            lista.append(y) # agregalo a la lista
    return (lista)

m= 30
funcion(m)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [56]:
p

30